# Feature Engineering

### Feature Engineering Version 1 -- Kavin

Let us turn all of our features into versions that can be well-used within a model.

In [1]:
import numpy as np
import pandas as pd
import os

In [2]:
#data read + process
mycwd = os.getcwd()
os.chdir("..")
df = pd.read_csv("data/" + "adult.data", 
            index_col=False, 
            names=['age', 
                   'workclass', 
                   'fnlwgt', 
                   'education', 
                   'education-num', 
                   'marital-status', 
                   'occupation', 
                   'relationship', 
                   'race', 
                   'sex', 
                   'capital-gain', 
                   'capital-loss',
                   'hours-per-week',
                   'native-country',
                   'income'])
os.chdir(mycwd)
df.head()
df.columns

Index(['age', 'workclass', 'fnlwgt', 'education', 'education-num',
       'marital-status', 'occupation', 'relationship', 'race', 'sex',
       'capital-gain', 'capital-loss', 'hours-per-week', 'native-country',
       'income'],
      dtype='object')

I think this would be a great time to one-hot encode categorical variables for our future model's sake.

##### One-hot Encoding:

In [3]:
#workclass
dummies = pd.get_dummies(df["workclass"])
df = pd.concat([df, dummies], axis=1)

#education
dummies = pd.get_dummies(df["education"])
df = pd.concat([df, dummies], axis=1)

#marital-status
dummies = pd.get_dummies(df["marital-status"])
df = pd.concat([df, dummies], axis=1)

#occupation
dummies = pd.get_dummies(df["occupation"])
df = pd.concat([df, dummies], axis=1)

#relationship
dummies = pd.get_dummies(df["relationship"])
df = pd.concat([df, dummies], axis=1)

#race
dummies = pd.get_dummies(df["race"])
df = pd.concat([df, dummies], axis=1)

#sex
dummies = pd.get_dummies(df["sex"])
df = pd.concat([df, dummies], axis=1)

#native-country
dummies = pd.get_dummies(df["native-country"])
df = pd.concat([df, dummies], axis=1)

df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,...,Portugal,Puerto-Rico,Scotland,South,Taiwan,Thailand,Trinadad&Tobago,United-States,Vietnam,Yugoslavia
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,...,0,0,0,0,0,0,0,1,0,0
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,...,0,0,0,0,0,0,0,1,0,0
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,...,0,0,0,0,0,0,0,1,0,0
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,...,0,0,0,0,0,0,0,1,0,0
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,...,0,0,0,0,0,0,0,0,0,0

Now, let us conduct some log-transforms to account for the weighting of numerical values.

##### Log-transforms:
Help from this article: https://towardsdatascience.com/feature-engineering-for-machine-learning-3a5e293a5114#3abe

One key transform is age. Older years make less of a difference in earnings potential than younger years, so we should account for this.

In [4]:
#log transform age
df['age log transformed'] = (df['age']+1).transform(np.log)
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,...,Puerto-Rico,Scotland,South,Taiwan,Thailand,Trinadad&Tobago,United-States,Vietnam,Yugoslavia,age log transformed
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,...,0,0,0,0,0,0,1,0,0,3.688879
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,...,0,0,0,0,0,0,1,0,0,3.931826
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,...,0,0,0,0,0,0,1,0,0,3.663562
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,...,0,0,0,0,0,0,1,0,0,3.988984
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,...,0,0,0,0,0,0,0,0,0,3.367296

The same logic can be applied to the number of years spent in education.

There is a diminishing returns aspect to the amount of years one spends in education and their earnings potential. As a result, a log transform will help us put a heavier emphasis on jumps in lower years spent in education.

In [5]:
#log transform education-num
df['years in education log transformed'] = (df['education-num']+1).transform(np.log)
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,...,Scotland,South,Taiwan,Thailand,Trinadad&Tobago,United-States,Vietnam,Yugoslavia,age log transformed,years in education log transformed
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,...,0,0,0,0,0,1,0,0,3.688879,2.639057
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,...,0,0,0,0,0,1,0,0,3.931826,2.639057
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,...,0,0,0,0,0,1,0,0,3.663562,2.302585
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,...,0,0,0,0,0,1,0,0,3.988984,2.079442
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,...,0,0,0,0,0,0,0,0,3.367296,2.639057

We see that there is a fairly large skew for capital-gain and capital-loss, where most people have 0, but a subset of people have much higher values than 0. To account for this extreme skew, we can apply a log-transform to both capital-gain and capital loss.

In [6]:
#log transform capital-gain
df['capital-gain log transformed'] = (df['capital-gain']+1).transform(np.log)
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,...,South,Taiwan,Thailand,Trinadad&Tobago,United-States,Vietnam,Yugoslavia,age log transformed,years in education log transformed,capital-gain log transformed
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,...,0,0,0,0,1,0,0,3.688879,2.639057,7.684784
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,...,0,0,0,0,1,0,0,3.931826,2.639057,0.000000
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,...,0,0,0,0,1,0,0,3.663562,2.302585,0.000000
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,...,0,0,0,0,1,0,0,3.988984,2.079442,0.000000
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,...,0,0,0,0,0,0,0,3.367296,2.639057,0.000000

In [7]:
#log transform capital-loss
df['capital-loss log transformed'] = (df['capital-loss']+1).transform(np.log)
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,...,Taiwan,Thailand,Trinadad&Tobago,United-States,Vietnam,Yugoslavia,age log transformed,years in education log transformed,capital-gain log transformed,capital-loss log transformed
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,...,0,0,0,1,0,0,3.688879,2.639057,7.684784,0.0
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,...,0,0,0,1,0,0,3.931826,2.639057,0.000000,0.0
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,...,0,0,0,1,0,0,3.663562,2.302585,0.000000,0.0
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,...,0,0,0,1,0,0,3.988984,2.079442,0.000000,0.0
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,...,0,0,0,0,0,0,3.367296,2.639057,0.000000,0.0

Finally, for similar reasons we will looked at the hours worked per week. In terms of $50k+, there is a diminishing returns aspect to working more than a certain number of hours. Hours 40 and below are probably more important for figuring out <=50k or >50k. We could do a complicated metric for this, but I think the best way would be to just do a log-transform that give higher weighting to these lower values.

In [8]:
#log transform hours-per-week
df['hours-per-week log transformed'] = (df['hours-per-week']+1).transform(np.log)
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,...,Thailand,Trinadad&Tobago,United-States,Vietnam,Yugoslavia,age log transformed,years in education log transformed,capital-gain log transformed,capital-loss log transformed,hours-per-week log transformed
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,...,0,0,1,0,0,3.688879,2.639057,7.684784,0.0,3.713572
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,...,0,0,1,0,0,3.931826,2.639057,0.000000,0.0,2.639057
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,...,0,0,1,0,0,3.663562,2.302585,0.000000,0.0,3.713572
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,...,0,0,1,0,0,3.988984,2.079442,0.000000,0.0,3.713572
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,...,0,0,0,0,0,3.367296,2.639057,0.000000,0.0,3.713572

From here, I can make some combined features based on features I think will correlate well together.

##### Combined Features:

I think an interesting one is the comparison between years in education and hours worked per week. I assume that those with less education are all over that spectrum, but those with more education tend to work less hours. Those with higher ratios would be more likely to be higher earners. This could help especially with classifying those with >50k in income.

In [9]:
df["years educated / hours worked"] = df["years in education log transformed"] / df["hours-per-week log transformed"]
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,...,Trinadad&Tobago,United-States,Vietnam,Yugoslavia,age log transformed,years in education log transformed,capital-gain log transformed,capital-loss log transformed,hours-per-week log transformed,years educated / hours worked
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,...,0,1,0,0,3.688879,2.639057,7.684784,0.0,3.713572,0.710652
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,...,0,1,0,0,3.931826,2.639057,0.000000,0.0,2.639057,1.000000
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,...,0,1,0,0,3.663562,2.302585,0.000000,0.0,3.713572,0.620046
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,...,0,1,0,0,3.988984,2.079442,0.000000,0.0,3.713572,0.559957
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,...,0,0,0,0,3.367296,2.639057,0.000000,0.0,3.713572,0.710652

Another interesting one could be capital-gain and age. I would expect them to correlate together, where older people are more likely to haver a higher capital-gains number. Hence, multiplying the two could be a useful feature for the model.

In [10]:
df["capital gains * age"] = df["capital-gain log transformed"] * df["age log transformed"]
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,...,United-States,Vietnam,Yugoslavia,age log transformed,years in education log transformed,capital-gain log transformed,capital-loss log transformed,hours-per-week log transformed,years educated / hours worked,capital gains * age
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,...,1,0,0,3.688879,2.639057,7.684784,0.0,3.713572,0.710652,28.348242
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,...,1,0,0,3.931826,2.639057,0.000000,0.0,2.639057,1.000000,0.000000
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,...,1,0,0,3.663562,2.302585,0.000000,0.0,3.713572,0.620046,0.000000
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,...,1,0,0,3.988984,2.079442,0.000000,0.0,3.713572,0.559957,0.000000
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,...,0,0,0,3.367296,2.639057,0.000000,0.0,3.713572,0.710652,0.000000

##### Adjust target variable

I think another useful thing to do would be to adjust our target variable of the income, to be a binary categorical variable. We can have it so >50k in income is 1 and anything below is 0.

This can be done by using one-hot encoding and just dropping the >50k column.

We will also drop the original income column here.

In [11]:
#income
dummies = pd.get_dummies(df["income"])
df = pd.concat([df, dummies], axis=1)

df.drop(['income'], axis=1, inplace=True)
#drop >50K
df = df.iloc[:, :-1]

df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,...,Vietnam,Yugoslavia,age log transformed,years in education log transformed,capital-gain log transformed,capital-loss log transformed,hours-per-week log transformed,years educated / hours worked,capital gains * age,<=50K
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,...,0,0,3.688879,2.639057,7.684784,0.0,3.713572,0.710652,28.348242,1
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,...,0,0,3.931826,2.639057,0.000000,0.0,2.639057,1.000000,0.000000,1
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,...,0,0,3.663562,2.302585,0.000000,0.0,3.713572,0.620046,0.000000,1
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,...,0,0,3.988984,2.079442,0.000000,0.0,3.713572,0.559957,0.000000,1
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,...,0,0,3.367296,2.639057,0.000000,0.0,3.713572,0.710652,0.000000,1

#### Feature Dropping:

I will go ahead and now drop the columns that will not be used in our model.

In [14]:
df.drop(['age', 'workclass', 'fnlwgt', 'education', 'education-num',
         'marital-status', 'occupation', 'relationship', 'race', 'sex',
         'capital-gain', 'capital-loss', 'hours-per-week', 'native-country'], 
        axis = 1, 
        inplace = True)

df.head()

,?,Federal-gov,Local-gov,Never-worked,Private,Self-emp-inc,Self-emp-not-inc,State-gov,Without-pay,10th,...,Vietnam,Yugoslavia,age log transformed,years in education log transformed,capital-gain log transformed,capital-loss log transformed,hours-per-week log transformed,years educated / hours worked,capital gains * age,<=50K
0,0,0,0,0,0,0,0,1,0,0,...,0,0,3.688879,2.639057,7.684784,0.0,3.713572,0.710652,28.348242,1
1,0,0,0,0,0,0,1,0,0,0,...,0,0,3.931826,2.639057,0.000000,0.0,2.639057,1.000000,0.000000,1
2,0,0,0,0,1,0,0,0,0,0,...,0,0,3.663562,2.302585,0.000000,0.0,3.713572,0.620046,0.000000,1
3,0,0,0,0,1,0,0,0,0,0,...,0,0,3.988984,2.079442,0.000000,0.0,3.713572,0.559957,0.000000,1
4,0,0,0,0,1,0,0,0,0,0,...,0,0,3.367296,2.639057,0.000000,0.0,3.713572,0.710652,0.000000,1

Awesome, we now have an amazing dataframe to train our model on!

#### Now let us turn this feature engineering into a utility function:

For future convenience and calling this feature engineering in other notebooks, let us turn all the feature engineering done here into a utility function in our utils.py file.

We will write out the function here for clarity and then move it to our utils.py function.

In [16]:
def featureEngineeringKavinV1(df):
    #workclass
    dummies = pd.get_dummies(df["workclass"])
    df = pd.concat([df, dummies], axis=1)

    #education
    dummies = pd.get_dummies(df["education"])
    df = pd.concat([df, dummies], axis=1)

    #marital-status
    dummies = pd.get_dummies(df["marital-status"])
    df = pd.concat([df, dummies], axis=1)

    #occupation
    dummies = pd.get_dummies(df["occupation"])
    df = pd.concat([df, dummies], axis=1)

    #relationship
    dummies = pd.get_dummies(df["relationship"])
    df = pd.concat([df, dummies], axis=1)

    #race
    dummies = pd.get_dummies(df["race"])
    df = pd.concat([df, dummies], axis=1)

    #sex
    dummies = pd.get_dummies(df["sex"])
    df = pd.concat([df, dummies], axis=1)

    #native-country
    dummies = pd.get_dummies(df["native-country"])
    df = pd.concat([df, dummies], axis=1)
    
    #log transform age
    df['age log transformed'] = (df['age']+1).transform(np.log)
    
    #log transform education-num
    df['years in education log transformed'] = (df['education-num']+1).transform(np.log)
    
    df['capital-gain log transformed'] = (df['capital-gain']+1).transform(np.log)
    
    df['capital-loss log transformed'] = (df['capital-loss']+1).transform(np.log)
    
    #log transform hours-per-week
    df['hours-per-week log transformed'] = (df['hours-per-week']+1).transform(np.log)
    
    df["years educated / hours worked"] = df["years in education log transformed"] / df["hours-per-week log transformed"]

    df["capital gains * age"] = df["capital-gain log transformed"] * df["age log transformed"]

    #income
    dummies = pd.get_dummies(df["income"])
    df = pd.concat([df, dummies], axis=1)

    #drop original income column
    df.drop(['income'], axis=1, inplace=True)
    #drop >50K
    df = df.iloc[:, :-1]
    
    
    #dropping of columns that will be unused by model
    df.drop(['age', 'workclass', 'fnlwgt', 'education', 'education-num',
         'marital-status', 'occupation', 'relationship', 'race', 'sex',
         'capital-gain', 'capital-loss', 'hours-per-week', 'native-country'], 
        axis = 1, 
        inplace = True)
    
    return df

In [18]:
#FUNCTION TEST

mycwd = os.getcwd()
os.chdir("..")
df = pd.read_csv("data/" + "adult.data", 
            index_col=False, 
            names=['age', 
                   'workclass', 
                   'fnlwgt', 
                   'education', 
                   'education-num', 
                   'marital-status', 
                   'occupation', 
                   'relationship', 
                   'race', 
                   'sex', 
                   'capital-gain', 
                   'capital-loss',
                   'hours-per-week',
                   'native-country',
                   'income'])
os.chdir(mycwd)
featureEngineeringKavinV1(df).head()

,?,Federal-gov,Local-gov,Never-worked,Private,Self-emp-inc,Self-emp-not-inc,State-gov,Without-pay,10th,...,Vietnam,Yugoslavia,age log transformed,years in education log transformed,capital-gain log transformed,capital-loss log transformed,hours-per-week log transformed,years educated / hours worked,capital gains * age,<=50K
0,0,0,0,0,0,0,0,1,0,0,...,0,0,3.688879,2.639057,7.684784,0.0,3.713572,0.710652,28.348242,1
1,0,0,0,0,0,0,1,0,0,0,...,0,0,3.931826,2.639057,0.000000,0.0,2.639057,1.000000,0.000000,1
2,0,0,0,0,1,0,0,0,0,0,...,0,0,3.663562,2.302585,0.000000,0.0,3.713572,0.620046,0.000000,1
3,0,0,0,0,1,0,0,0,0,0,...,0,0,3.988984,2.079442,0.000000,0.0,3.713572,0.559957,0.000000,1
4,0,0,0,0,1,0,0,0,0,0,...,0,0,3.367296,2.639057,0.000000,0.0,3.713572,0.710652,0.000000,1

Function works!

### Feature Engineering Version 2 -- Naomi

In [ ]:
...

### Feature Engineering Version 3 -- George

This section I am prototyping my feature engineering approach. The feature engineering technique I develop here will be put into an utils function that will be used later in my modeling notebook.

In [12]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import OneHotEncoder, LabelEncoder, StandardScaler
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer

data = pd.read_csv("../data/adult.data",
                   names = ['age', 'workclass', 'fnlwgt', 'education','education-num',
                            'marital-status','occupation','relationship','race','sex',
                           'capital-gain','capital-loss','hours-per-week',
                            'native-country','income'])
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

Check for nulls

In [13]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education-num   32561 non-null  int64
 5   marital-status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital-gain    32561 non-null  int64
 11  capital-loss    32561 non-null  int64
 12  hours-per-week  32561 non-null  int64
 13  native-country  32561 non-null  object
 14  income          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

Even though this output says there are no nulls in the data, there are in fact nulls but there are encoded as ` ?` instead of `NaN`.

In [14]:
data.applymap(lambda x: x==" ?").sum()

age                  0
workclass         1836
fnlwgt               0
education            0
education-num        0
marital-status       0
occupation        1843
relationship         0
race                 0
sex                  0
capital-gain         0
capital-loss         0
hours-per-week       0
native-country     583
income               0
dtype: int64

But this doesn't necessarily mean we need to impute the ` ?` character, we can simply leave it be

First thing I want to do is cut out any excess variables.

`Education-num` and `education` appear to be redundant, so since `education-num` is a numerically encoded version of `education` I am going to drop `education`

In [15]:
data.drop("education", axis = 1, inplace=True)
data.head()

,age,workclass,fnlwgt,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

Next we need to label encode the target variable.

In [16]:
le = LabelEncoder()
y = le.fit_transform(data["income"])
y

array([0, 0, 0, ..., 0, 0, 1])

le.classes_

Overwrite `income`

In [17]:
data.loc[:, "income"] = y

Next up I want to one-hot encode the categorical variables

In [18]:
ohe = OneHotEncoder(categories='auto', handle_unknown='error', sparse=False, drop="first")

Select the object cols

In [19]:
obj_df = data.select_dtypes("object")
obj_cols = obj_df.columns.tolist()
obj_df.head()

,workclass,marital-status,occupation,relationship,race,sex,native-country
0,State-gov,Never-married,Adm-clerical,Not-in-family,White,Male,United-States
1,Self-emp-not-inc,Married-civ-spouse,Exec-managerial,Husband,White,Male,United-States
2,Private,Divorced,Handlers-cleaners,Not-in-family,White,Male,United-States
3,Private,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,United-States
4,Private,Married-civ-spouse,Prof-specialty,Wife,Black,Female,Cuba

Fit transform the categorical data in `obj_df`

In [20]:
ohe_df = ohe.fit_transform(obj_df)



#make it a dataframe
#Make it dataframe
ohe_df = pd.DataFrame(index=data.index, data=ohe_df, columns=ohe.get_feature_names(obj_cols))
ohe_df.head()

/srv/conda/envs/notebook/lib/python3.9/site-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,workclass_ Federal-gov,workclass_ Local-gov,workclass_ Never-worked,workclass_ Private,workclass_ Self-emp-inc,workclass_ Self-emp-not-inc,workclass_ State-gov,workclass_ Without-pay,marital-status_ Married-AF-spouse,marital-status_ Married-civ-spouse,...,native-country_ Portugal,native-country_ Puerto-Rico,native-country_ Scotland,native-country_ South,native-country_ Taiwan,native-country_ Thailand,native-country_ Trinadad&Tobago,native-country_ United-States,native-country_ Vietnam,native-country_ Yugoslavia
0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
3,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

Next up I want to scale the numerical data using a `StandardScaler` object

Grab numerical data

In [23]:
X_num = data.drop("income", axis =1).select_dtypes("number")
X_num.head()

   age  fnlwgt  education-num  capital-gain  capital-loss  hours-per-week
0   39   77516             13          2174             0              40
1   50   83311             13             0             0              13
2   38  215646              9             0             0              40
3   53  234721              7             0             0              40
4   28  338409             13             0             0              40

In [24]:
scaler = StandardScaler()

Xs = scaler.fit_transform(X_num)

#Make into dataframe

Xs = pd.DataFrame(index = data.index, data=Xs, columns = X_num.columns)
Xs.head()

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week
0,0.030671,-1.063611,1.134739,0.148453,-0.21666,-0.035429
1,0.837109,-1.008707,1.134739,-0.145920,-0.21666,-2.222153
2,-0.042642,0.245079,-0.420060,-0.145920,-0.21666,-0.035429
3,1.057047,0.425801,-1.197459,-0.145920,-0.21666,-0.035429
4,-0.775768,1.408176,1.134739,-0.145920,-0.21666,-0.035429

Next we combine the datasets together into one

In [25]:
X = pd.concat([Xs, ohe_df], axis = 1)
X.head()

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week,workclass_ Federal-gov,workclass_ Local-gov,workclass_ Never-worked,workclass_ Private,...,native-country_ Portugal,native-country_ Puerto-Rico,native-country_ Scotland,native-country_ South,native-country_ Taiwan,native-country_ Thailand,native-country_ Trinadad&Tobago,native-country_ United-States,native-country_ Vietnam,native-country_ Yugoslavia
0,0.030671,-1.063611,1.134739,0.148453,-0.21666,-0.035429,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1,0.837109,-1.008707,1.134739,-0.145920,-0.21666,-2.222153,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2,-0.042642,0.245079,-0.420060,-0.145920,-0.21666,-0.035429,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
3,1.057047,0.425801,-1.197459,-0.145920,-0.21666,-0.035429,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4,-0.775768,1.408176,1.134739,-0.145920,-0.21666,-0.035429,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

This dataset is now ready for machine learning.


Based on my techniques, I will be using them to create an utils function that will automaticall scale and one hot encode my training and testing datasets.

### Feature Engineering Version 4 -- Winston

In [8]:
import numpy as np
import pandas as pd

data = pd.read_csv("../data/adult.data",
                   names=['age', 'workclass', 'fnlwgt', 'education', 'education-num',
                            'marital-status', 'occupation', 'relationship','race', 'sex',
                           'capital-gain', 'capital-loss', 'hours-per-week', 
                            'native-country', 'income'])
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [9]:

for colname in data:
    types = data.dtypes.to_dict()
    check = []
    if len(pd.unique(data[colname])) > 10:
        check.append(colname)
    if str(types[colname]) =="object":
        data[colname] = pd.factorize(data[colname])[0]

data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,0,77516,0,13,0,0,0,0,0,2174,0,40,0,0
1,50,1,83311,0,13,1,1,1,0,0,0,0,13,0,0
2,38,2,215646,1,9,2,2,0,0,0,0,0,40,0,0
3,53,2,234721,2,7,1,2,1,1,0,0,0,40,0,0
4,28,2,338409,0,13,1,3,2,1,1,0,0,40,1,0

In the above code block, I performed label encoding on the relevant categorial variables.

In [ ]:
for colname in data:
    if data[colname].mean() > 1000:
        data[colname] = np.log(data[colname])

In the above code block, I performed a natural log transformation if the everage of a column was greater than 1000.

In [ ]:
def feature_engineering_winston(data):
    for colname in data:
        types = data.dtypes.to_dict()
        check = []
        if len(pd.unique(data[colname])) > 10:
            check.append(colname)
        if str(types[colname]) =="object":
            data[colname] = pd.factorize(data[colname])[0]
    for colname in data:
        if data[colname].mean() > 1000:
            data[colname] = np.log(data[colname])
    return data