# Modeling

Notebook for modeling and testing these models.

In [1]:
#SET RANDOM SEED HERE

In [ ]:
#imports

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os
from sklearn.model_selection import train_test_split
from pathlib import Path

#utils.py imports
from utils import featureEngineeringKavinV1
from utils import model_eval

SyntaxError: invalid syntax (utils.py, line 176)

#### Training-Testing Data Split

Used across all versions.

In [3]:
#data read + process
mycwd = os.getcwd()
os.chdir("..")
df = pd.read_csv("data/" + "adult.data", 
            index_col=False, 
            names=['age', 
                   'workclass', 
                   'fnlwgt', 
                   'education', 
                   'education-num', 
                   'marital-status', 
                   'occupation', 
                   'relationship', 
                   'race', 
                   'sex', 
                   'capital-gain', 
                   'capital-loss',
                   'hours-per-week',
                   'native-country',
                   'income'])
os.chdir(mycwd)

In [4]:
training = df.iloc[:, :-1]
testing = df.iloc[: , -1]

In [5]:
X_train, X_test, y_train, y_test = train_test_split(training, testing, test_size=0.2, random_state=1)

Now, let us convert these into CSV's for reproducibility and access in other notebooks.

In [6]:
mycwd = os.getcwd()
mycwd

'/Users/kavin/hw07-group24/notebooks'

In [7]:
#X_train
X_train.to_csv(Path(mycwd + "/TrainingTestingData/v1(Kavin)/X_train.csv"))

#X_test
X_test.to_csv(Path(mycwd + "/TrainingTestingData/v1(Kavin)/X_test.csv"))

#y_train
y_train.to_csv(Path(mycwd + "/TrainingTestingData/v1(Kavin)/y_train.csv"))

#y_test
y_test.to_csv(Path(mycwd + "/TrainingTestingData/v1(Kavin)/y_test.csv"))

### Modeling Version 1 -- Kavin

I will first conduct my data processing using the feature engineering/processing function written in the Version 1 (Kavin) section of the FeatureEngineering notebook.

In [8]:
#data read + process
mycwd = os.getcwd()
os.chdir("..")
df = pd.read_csv("data/" + "adult.data", 
            index_col=False, 
            names=['age', 
                   'workclass', 
                   'fnlwgt', 
                   'education', 
                   'education-num', 
                   'marital-status', 
                   'occupation', 
                   'relationship', 
                   'race', 
                   'sex', 
                   'capital-gain', 
                   'capital-loss',
                   'hours-per-week',
                   'native-country',
                   'income'])
os.chdir(mycwd)

#### Feature Engineered data using utils.py function

In [9]:
fe_df = featureEngineeringKavinV1(df)
training = fe_df.iloc[:, :-1]
testing = fe_df.iloc[: , -1]

#### Training-Testing Data Split

In [10]:
X_train, X_test, y_train, y_test = train_test_split(training, testing, test_size=0.2, random_state=1)

Now, let us convert these into CSV's for reproducibility and access in other notebooks.

In [11]:
mycwd = os.getcwd()
mycwd

'/Users/kavin/hw07-group24/notebooks'

In [12]:
#X_train
X_train.to_csv(Path(mycwd + "/TrainingTestingData/v1(Kavin)/X_train.csv"))

#X_test
X_test.to_csv(Path(mycwd + "/TrainingTestingData/v1(Kavin)/X_test.csv"))

#y_train
y_train.to_csv(Path(mycwd + "/TrainingTestingData/v1(Kavin)/y_train.csv"))

#y_test
y_test.to_csv(Path(mycwd + "/TrainingTestingData/v1(Kavin)/y_test.csv"))

#### Modeling

##### We will use a Random Forest model here.

In [13]:
from sklearn.ensemble import RandomForestClassifier

regressor = RandomForestClassifier(n_estimators=20, random_state=1)
regressor.fit(X_train, y_train)
y_pred_train = regressor.predict(X_train)

In [14]:
#Training Prediction
y_pred_train

array([1, 0, 0, ..., 1, 1, 0], dtype=uint8)

In [15]:
#Testing Prediction
y_pred_test = regressor.predict(X_test)
y_pred_test

array([1, 1, 0, ..., 1, 1, 0], dtype=uint8)

#### Testing

Now, let us test our model.

We will use the utils.py function model_eval that lets us see how our model did and gives us various performance metrics.

In [16]:
model_eval(y_train, y_test, y_pred_train, y_pred_test)

                 Training   Testing
Accuracy Score   0.975967  0.847382
Precision Score  0.980884  0.898262
Recall           0.987458  0.904696
F1 Score         0.984160  0.901467

##### The below is for testing datasets.

The precision and recall scores are fairly high at ~0.9 and F1 is also at ~0.9, which is to be expected due to it being a combination of precision and recall. 

However, it seems accuracy is a bit lower at ~0.85. This indicates to me that my model performs okay, though it could be better. I suspect that there may be a bit of overfitting occurring.

##### The below is for training datasets.

Accuracy, precision, recall, and F1 all experience extremely high scores of ~0.98, making me think my training data may be a bit overfitted. Perhaps I could remove some of the overlapping features or mess with the hyper-parameters of the random forest classifier to prevent this.

### Modeling Version 2 -- Naomi

In [10]:
import pandas as pd
import numpy as np

from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.utils import resample

In [11]:
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC

from projecttools.utils import model_eval, feature_Wen

ImportError: cannot import name 'feature_Wen' from 'projecttools.utils' (/srv/conda/envs/notebook/lib/python3.9/site-packages/projecttools/utils.py)

In [18]:
data = pd.read_csv("../data/adult.data",
                   names = ['age', 'workclass', 'fnlwgt', 'education','education-num',
                           'marital-status','occupation','relationship','race','sex',
                          'capital-gain','capital-loss','hours-per-week',
                            'native-country','income'])

In [19]:
feature_Wen(data)

,age,fnlwgt,education-num,marital-status,occupation,relationship,capital-gain,hours-per-week
0,1.648836,-0.016932,-0.621267,-0.308402,-0.766630,-0.727624,-0.198954,-1.916267
1,0.693246,0.048031,1.311097,-0.308402,0.721607,-0.727624,-0.198954,-0.213403
2,0.533981,0.051833,-0.621267,-0.308402,0.225528,2.361912,-0.198954,-3.023128
3,-0.182711,-0.726126,-0.621267,1.185325,0.721607,-0.109717,-0.198954,-0.213403
4,0.295084,-0.812016,-0.621267,-0.308402,1.217686,2.361912,-0.198954,-0.213403
...,...,...,...,...,...,...,...,...
45303,-0.660506,-0.691525,1.311097,1.185325,1.465726,-0.109717,-0.198954,-2.682555
45304,-1.456831,1.152225,-0.234794,1.185325,0.969647,-0.109717,-0.198954,-0.213403
45305,-1.058669,0.649982,0.538152,-0.308402,1.465726,2.361912,-0.198954,-0.383689
45306,1.409939,-0.351577,-0.621267,2.679052,-1.510748,1.744005,-0.198954,-0.213403
45307,-1.456831,0.119590,-0.621267,1.185325,-1.510748,1.126098,-0.198954,-1.916267

In [4]:
# training and testing models
X_train, X_test, y_train, y_test = train_test_split(feature_Wen()[0], feature_Wen()[1], test_size = 0.2, random_state = 1)

#SVC
Classifier = SVC(random_state = 1)
model = Classifier.fit(X_train, y_train)
Y_pred_test = Classifier.predict(X_test)
Y_pred_traint = Classifier.predict(X_train)

#### Model Testing

In [5]:
model_eval(y_train, y_test, Y_pred_traint, Y_pred_test)

                 Training   Testing
Accuracy Score   0.820394  0.813397
Precision Score  0.784479  0.774981
Recall           0.883518  0.883249
F1 Score         0.831058  0.825580

### Modeling Version 3 -- George

In [6]:
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import StackingClassifier

from sklearn.model_selection import train_test_split, GridSearchCV, cross_val_score

import joblib

import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

from projecttools.utils import model_eval, feat_eng_split

In [2]:
data = pd.read_csv("../data/adult.data",
                   names = ['age', 'workclass', 'fnlwgt', 'education','education-num',
                            'marital-status','occupation','relationship','race','sex',
                           'capital-gain','capital-loss','hours-per-week',
                            'native-country','income'])
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

Drop `education`

In [3]:
data = data.drop("education", axis = 1)

Separate the independent and dependent features

In [4]:
X = data.drop("income", axis = 1)
y = data["income"]

In [5]:
X.head()

,age,workclass,fnlwgt,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country
0,39,State-gov,77516,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States
1,50,Self-emp-not-inc,83311,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States
2,38,Private,215646,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States
3,53,Private,234721,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States
4,28,Private,338409,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba

In [6]:
y.head()

0     <=50K
1     <=50K
2     <=50K
3     <=50K
4     <=50K
Name: income, dtype: object

Use the `feat_eng_split` utils function to:

1. Split the data into training and testing dataset.

2. Feature engineer the training dataset (scale and one hot encode)

3. Transform the testing dataset using the rules created by the training dataset.

4. Output the transformed training features and labels and the testing features and labels

In [7]:
X_train, X_valid, y_train, y_valid = feat_eng_split(X, y)

/srv/conda/envs/notebook/lib/python3.9/site-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

In [8]:
X_train.head()

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week,workclass_ Federal-gov,workclass_ Local-gov,workclass_ Never-worked,workclass_ Private,...,native-country_ Portugal,native-country_ Puerto-Rico,native-country_ Scotland,native-country_ South,native-country_ Taiwan,native-country_ Thailand,native-country_ Trinadad&Tobago,native-country_ United-States,native-country_ Vietnam,native-country_ Yugoslavia
6770,-0.627682,1.797658,-0.034983,-0.146435,-0.215273,1.178792,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
30361,-0.186730,2.210280,-2.768069,-0.146435,-0.215273,-0.034838,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8764,1.062633,-1.513517,-2.377628,-0.146435,-0.215273,-0.439382,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
20326,-0.921650,-1.228001,1.136339,-0.146435,-0.215273,-0.034838,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
13684,0.254221,0.017096,0.355458,-0.146435,-0.215273,-0.034838,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0

In [9]:
X_valid.head()

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week,workclass_ Federal-gov,workclass_ Local-gov,workclass_ Never-worked,workclass_ Private,...,native-country_ Portugal,native-country_ Puerto-Rico,native-country_ Scotland,native-country_ South,native-country_ Taiwan,native-country_ Thailand,native-country_ Trinadad&Tobago,native-country_ United-States,native-country_ Vietnam,native-country_ Yugoslavia
24860,-1.142126,2.449155,-1.987187,-0.146435,-0.215273,-0.439382,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
13003,1.871044,0.840133,-0.425424,-0.146435,-0.215273,-1.329377,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
5838,-1.436094,1.917090,-0.034983,-0.146435,-0.215273,-0.843925,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
18199,-0.554190,-1.199512,-0.425424,-0.146435,-0.215273,0.774248,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
32190,-0.333714,0.297306,1.136339,-0.146435,-0.215273,-0.034838,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0

The validation dataset will be used to evaluate our final model.

Check the null accuracy

In [10]:
pd.value_counts(y_train, normalize=True)

0    0.759173
1    0.240827
dtype: float64

Null accuracy of 76%

### Plan

1. Evaluate how well KNN and Decision Trees do on the data.

2. Derive the best (using parameter tuning) version each model.

3. Then combine the two tuned models into one ensemble model using stacking.

4. Evaluate how well this stacked model does on the validation dataset

#### KNN

In [11]:
#GridSearch KNN

param_grid = {"n_neighbors":np.arange(3, 21, 2)}

grid_knn = GridSearchCV(estimator=KNeighborsClassifier(), 
                        param_grid=param_grid, scoring="accuracy", cv = 10, verbose = 3)

grid_knn.fit(X_train, y_train)

Fitting 10 folds for each of 9 candidates, totalling 90 fits
[CV 1/10] END ....................n_neighbors=3;, score=0.832 total time=   2.4s
[CV 2/10] END ....................n_neighbors=3;, score=0.824 total time=   1.1s
[CV 3/10] END ....................n_neighbors=3;, score=0.829 total time=   1.1s
[CV 4/10] END ....................n_neighbors=3;, score=0.830 total time=   1.1s
[CV 5/10] END ....................n_neighbors=3;, score=0.824 total time=   1.2s
[CV 6/10] END ....................n_neighbors=3;, score=0.821 total time=   1.4s
[CV 7/10] END ....................n_neighbors=3;, score=0.829 total time=   1.4s
[CV 8/10] END ....................n_neighbors=3;, score=0.822 total time=   2.0s
[CV 9/10] END ....................n_neighbors=3;, score=0.826 total time=   1.5s
[CV 10/10] END ...................n_neighbors=3;, score=0.822 total time=   1.2s
[CV 1/10] END ....................n_neighbors=5;, score=0.842 total time=   1.2s
[CV 2/10] END ....................n_neighbors=5;, score=0.833 total time=   1.4s
[CV 3/10] END ....................n_neighbors=5;, score=0.836 total time=   1.3s
[CV 4/10] END ....................n_neighbors=5;, score=0.848 total time=   1.4s
[CV 5/10] END ....................n_neighbors=5;, score=0.835 total time=   1.4s
[CV 6/10] END ....................n_neighbors=5;, score=0.837 total time=   1.2s
[CV 7/10] END ....................n_neighbors=5;, score=0.842 total time=   1.3s
[CV 8/10] END ....................n_neighbors=5;, score=0.832 total time=   1.2s
[CV 9/10] END ....................n_neighbors=5;, score=0.834 total time=   1.4s
[CV 10/10] END ...................n_neighbors=5;, score=0.831 total time=   1.5s
[CV 1/10] END ....................n_neighbors=7;, score=0.842 total time=   1.6s
[CV 2/10] END ....................n_neighbors=7;, score=0.835 total time=   1.6s
[CV 3/10] END ....................n_neighbors=7;, score=0.836 total time=   1.5s
[CV 4/10] END ....................n_neighbors=7;, score=0.852 total time=   1.4s
[CV 5/10] END ....................n_neighbors=7;, score=0.843 total time=   1.4s
[CV 6/10] END ....................n_neighbors=7;, score=0.833 total time=   1.3s
[CV 7/10] END ....................n_neighbors=7;, score=0.839 total time=   1.2s
[CV 8/10] END ....................n_neighbors=7;, score=0.840 total time=   1.2s
[CV 9/10] END ....................n_neighbors=7;, score=0.837 total time=   1.2s
[CV 10/10] END ...................n_neighbors=7;, score=0.848 total time=   1.2s
[CV 1/10] END ....................n_neighbors=9;, score=0.844 total time=   1.1s
[CV 2/10] END ....................n_neighbors=9;, score=0.837 total time=   1.4s
[CV 3/10] END ....................n_neighbors=9;, score=0.836 total time=   1.4s
[CV 4/10] END ....................n_neighbors=9;, score=0.857 total time=   1.3s
[CV 5/10] END ....................n_neighbors=9;, score=0.850 total time=   1.4s
[CV 6/10] END ....................n_neighbors=9;, score=0.833 total time=   1.2s
[CV 7/10] END ....................n_neighbors=9;, score=0.841 total time=   1.2s
[CV 8/10] END ....................n_neighbors=9;, score=0.840 total time=   1.3s
[CV 9/10] END ....................n_neighbors=9;, score=0.837 total time=   1.2s
[CV 10/10] END ...................n_neighbors=9;, score=0.843 total time=   1.3s
[CV 1/10] END ...................n_neighbors=11;, score=0.844 total time=   1.2s
[CV 2/10] END ...................n_neighbors=11;, score=0.839 total time=   1.4s
[CV 3/10] END ...................n_neighbors=11;, score=0.836 total time=   1.5s
[CV 4/10] END ...................n_neighbors=11;, score=0.858 total time=   1.5s
[CV 5/10] END ...................n_neighbors=11;, score=0.853 total time=   1.4s
[CV 6/10] END ...................n_neighbors=11;, score=0.831 total time=   1.2s
[CV 7/10] END ...................n_neighbors=11;, score=0.841 total time=   1.2s
[CV 8/10] END ...................n_neighbors=11;, score=0.841 total time=   1.2s
[CV 9/10] END ...................n_neighbors=11;, score=0.839 total time=   1.4s
[CV 10/10] END ..................n_neighbors=11;, score=0.846 total time=   1.4s
[CV 1/10] END ...................n_neighbors=13;, score=0.851 total time=   1.2s
[CV 2/10] END ...................n_neighbors=13;, score=0.837 total time=   1.7s
[CV 3/10] END ...................n_neighbors=13;, score=0.834 total time=   1.7s
[CV 4/10] END ...................n_neighbors=13;, score=0.860 total time=   1.4s
[CV 5/10] END ...................n_neighbors=13;, score=0.853 total time=   1.6s
[CV 6/10] END ...................n_neighbors=13;, score=0.835 total time=   1.4s
[CV 7/10] END ...................n_neighbors=13;, score=0.839 total time=   1.6s
[CV 8/10] END ...................n_neighbors=13;, score=0.842 total time=   1.3s
[CV 9/10] END ...................n_neighbors=13;, score=0.843 total time=   1.3s
[CV 10/10] END ..................n_neighbors=13;, score=0.850 total time=   1.4s
[CV 1/10] END ...................n_neighbors=15;, score=0.847 total time=   1.4s
[CV 2/10] END ...................n_neighbors=15;, score=0.837 total time=   1.5s
[CV 3/10] END ...................n_neighbors=15;, score=0.837 total time=   1.5s
[CV 4/10] END ...................n_neighbors=15;, score=0.860 total time=   1.6s
[CV 5/10] END ...................n_neighbors=15;, score=0.852 total time=   1.5s
[CV 6/10] END ...................n_neighbors=15;, score=0.839 total time=   1.3s
[CV 7/10] END ...................n_neighbors=15;, score=0.846 total time=   1.3s
[CV 8/10] END ...................n_neighbors=15;, score=0.845 total time=   1.2s
[CV 9/10] END ...................n_neighbors=15;, score=0.841 total time=   1.2s
[CV 10/10] END ..................n_neighbors=15;, score=0.850 total time=   1.2s
[CV 1/10] END ...................n_neighbors=17;, score=0.849 total time=   1.1s
[CV 2/10] END ...................n_neighbors=17;, score=0.839 total time=   1.3s
[CV 3/10] END ...................n_neighbors=17;, score=0.838 total time=   1.3s
[CV 4/10] END ...................n_neighbors=17;, score=0.858 total time=   1.3s
[CV 5/10] END ...................n_neighbors=17;, score=0.854 total time=   1.3s
[CV 6/10] END ...................n_neighbors=17;, score=0.840 total time=   1.2s
[CV 7/10] END ...................n_neighbors=17;, score=0.846 total time=   1.2s
[CV 8/10] END ...................n_neighbors=17;, score=0.847 total time=   1.2s
[CV 9/10] END ...................n_neighbors=17;, score=0.840 total time=   1.2s
[CV 10/10] END ..................n_neighbors=17;, score=0.854 total time=   1.2s
[CV 1/10] END ...................n_neighbors=19;, score=0.848 total time=   1.3s
[CV 2/10] END ...................n_neighbors=19;, score=0.838 total time=   1.3s
[CV 3/10] END ...................n_neighbors=19;, score=0.837 total time=   1.3s
[CV 4/10] END ...................n_neighbors=19;, score=0.853 total time=   1.3s
[CV 5/10] END ...................n_neighbors=19;, score=0.853 total time=   1.4s
[CV 6/10] END ...................n_neighbors=19;, score=0.841 total time=   1.2s
[CV 7/10] END ...................n_neighbors=19;, score=0.846 total time=   1.2s
[CV 8/10] END ...................n_neighbors=19;, score=0.849 total time=   1.1s
[CV 9/10] END ...................n_neighbors=19;, score=0.843 total time=   1.1s
[CV 10/10] END ..................n_neighbors=19;, score=0.853 total time=   1.2s

GridSearchCV(cv=10, estimator=KNeighborsClassifier(),
             param_grid={'n_neighbors': array([ 3,  5,  7,  9, 11, 13, 15, 17, 19])},
             scoring='accuracy', verbose=3)

Best params

In [12]:
grid_knn.best_params_

{'n_neighbors': 17}

Best score

In [13]:
grid_knn.best_score_

0.8466830466830466

Grab the best estimator, make predictions on the training and validations and then use the `model_eval` function to compare results.

In [14]:
best_knn = grid_knn.best_estimator_

In [15]:
train_knn_preds = best_knn.predict(X_train)
valid_knn_preds = best_knn.predict(X_valid)

In [16]:
knn_performance = model_eval(y_train, y_valid, train_knn_preds, valid_knn_preds)
knn_performance

                 Training   Testing
Accuracy Score   0.859951  0.846088
Precision Score  0.745854  0.705643
Recall           0.634756  0.618878
F1 Score         0.685835  0.659418

There doesn't seem to be significant overfitting but scores are certainly lower than I'd like.

### Decision Trees

In [17]:
#Grid search decision trees
param_grid = {"max_depth": np.arange(5, 40, 2)}

grid_dt = GridSearchCV(estimator=DecisionTreeClassifier(random_state=1), 
                        param_grid=param_grid, scoring="accuracy", cv = 10, verbose = 3)

grid_dt.fit(X_train, y_train)

Fitting 10 folds for each of 18 candidates, totalling 180 fits
[CV 1/10] END ......................max_depth=5;, score=0.862 total time=   0.1s
[CV 2/10] END ......................max_depth=5;, score=0.848 total time=   0.1s
[CV 3/10] END ......................max_depth=5;, score=0.846 total time=   0.1s
[CV 4/10] END ......................max_depth=5;, score=0.864 total time=   0.1s
[CV 5/10] END ......................max_depth=5;, score=0.859 total time=   0.1s
[CV 6/10] END ......................max_depth=5;, score=0.853 total time=   0.1s
[CV 7/10] END ......................max_depth=5;, score=0.855 total time=   0.1s
[CV 8/10] END ......................max_depth=5;, score=0.853 total time=   0.1s
[CV 9/10] END ......................max_depth=5;, score=0.847 total time=   0.1s
[CV 10/10] END .....................max_depth=5;, score=0.853 total time=   0.1s
[CV 1/10] END ......................max_depth=7;, score=0.863 total time=   0.2s
[CV 2/10] END ......................max_depth=7;, score=0.840 total time=   0.1s
[CV 3/10] END ......................max_depth=7;, score=0.849 total time=   0.2s
[CV 4/10] END ......................max_depth=7;, score=0.870 total time=   0.1s
[CV 5/10] END ......................max_depth=7;, score=0.858 total time=   0.1s
[CV 6/10] END ......................max_depth=7;, score=0.859 total time=   0.2s
[CV 7/10] END ......................max_depth=7;, score=0.851 total time=   0.2s
[CV 8/10] END ......................max_depth=7;, score=0.853 total time=   0.1s
[CV 9/10] END ......................max_depth=7;, score=0.848 total time=   0.1s
[CV 10/10] END .....................max_depth=7;, score=0.855 total time=   0.1s
[CV 1/10] END ......................max_depth=9;, score=0.864 total time=   0.2s
[CV 2/10] END ......................max_depth=9;, score=0.848 total time=   0.2s
[CV 3/10] END ......................max_depth=9;, score=0.846 total time=   0.2s
[CV 4/10] END ......................max_depth=9;, score=0.866 total time=   0.2s
[CV 5/10] END ......................max_depth=9;, score=0.858 total time=   0.2s
[CV 6/10] END ......................max_depth=9;, score=0.855 total time=   0.2s
[CV 7/10] END ......................max_depth=9;, score=0.855 total time=   0.2s
[CV 8/10] END ......................max_depth=9;, score=0.854 total time=   0.2s
[CV 9/10] END ......................max_depth=9;, score=0.850 total time=   0.2s
[CV 10/10] END .....................max_depth=9;, score=0.857 total time=   0.2s
[CV 1/10] END .....................max_depth=11;, score=0.859 total time=   0.2s
[CV 2/10] END .....................max_depth=11;, score=0.848 total time=   0.2s
[CV 3/10] END .....................max_depth=11;, score=0.842 total time=   0.2s
[CV 4/10] END .....................max_depth=11;, score=0.859 total time=   0.2s
[CV 5/10] END .....................max_depth=11;, score=0.853 total time=   0.2s
[CV 6/10] END .....................max_depth=11;, score=0.857 total time=   0.2s
[CV 7/10] END .....................max_depth=11;, score=0.855 total time=   0.2s
[CV 8/10] END .....................max_depth=11;, score=0.844 total time=   0.2s
[CV 9/10] END .....................max_depth=11;, score=0.854 total time=   0.2s
[CV 10/10] END ....................max_depth=11;, score=0.845 total time=   0.2s
[CV 1/10] END .....................max_depth=13;, score=0.856 total time=   0.2s
[CV 2/10] END .....................max_depth=13;, score=0.846 total time=   0.2s
[CV 3/10] END .....................max_depth=13;, score=0.837 total time=   0.2s
[CV 4/10] END .....................max_depth=13;, score=0.854 total time=   0.2s
[CV 5/10] END .....................max_depth=13;, score=0.853 total time=   0.2s
[CV 6/10] END .....................max_depth=13;, score=0.852 total time=   0.2s
[CV 7/10] END .....................max_depth=13;, score=0.845 total time=   0.2s
[CV 8/10] END .....................max_depth=13;, score=0.849 total time=   0.2s
[CV 9/10] END .....................max_depth=13;, score=0.851 total time=   0.2s
[CV 10/10] END ....................max_depth=13;, score=0.849 total time=   0.3s
[CV 1/10] END .....................max_depth=15;, score=0.853 total time=   0.3s
[CV 2/10] END .....................max_depth=15;, score=0.839 total time=   0.3s
[CV 3/10] END .....................max_depth=15;, score=0.843 total time=   0.2s
[CV 4/10] END .....................max_depth=15;, score=0.845 total time=   0.2s
[CV 5/10] END .....................max_depth=15;, score=0.847 total time=   0.2s
[CV 6/10] END .....................max_depth=15;, score=0.852 total time=   0.2s
[CV 7/10] END .....................max_depth=15;, score=0.837 total time=   0.2s
[CV 8/10] END .....................max_depth=15;, score=0.844 total time=   0.2s
[CV 9/10] END .....................max_depth=15;, score=0.850 total time=   0.2s
[CV 10/10] END ....................max_depth=15;, score=0.844 total time=   0.2s
[CV 1/10] END .....................max_depth=17;, score=0.852 total time=   0.2s
[CV 2/10] END .....................max_depth=17;, score=0.839 total time=   0.2s
[CV 3/10] END .....................max_depth=17;, score=0.839 total time=   0.2s
[CV 4/10] END .....................max_depth=17;, score=0.851 total time=   0.2s
[CV 5/10] END .....................max_depth=17;, score=0.848 total time=   0.2s
[CV 6/10] END .....................max_depth=17;, score=0.839 total time=   0.2s
[CV 7/10] END .....................max_depth=17;, score=0.834 total time=   0.2s
[CV 8/10] END .....................max_depth=17;, score=0.833 total time=   0.2s
[CV 9/10] END .....................max_depth=17;, score=0.835 total time=   0.2s
[CV 10/10] END ....................max_depth=17;, score=0.847 total time=   0.2s
[CV 1/10] END .....................max_depth=19;, score=0.843 total time=   0.2s
[CV 2/10] END .....................max_depth=19;, score=0.838 total time=   0.2s
[CV 3/10] END .....................max_depth=19;, score=0.836 total time=   0.2s
[CV 4/10] END .....................max_depth=19;, score=0.842 total time=   0.2s
[CV 5/10] END .....................max_depth=19;, score=0.842 total time=   0.2s
[CV 6/10] END .....................max_depth=19;, score=0.833 total time=   0.2s
[CV 7/10] END .....................max_depth=19;, score=0.826 total time=   0.2s
[CV 8/10] END .....................max_depth=19;, score=0.826 total time=   0.2s
[CV 9/10] END .....................max_depth=19;, score=0.827 total time=   0.2s
[CV 10/10] END ....................max_depth=19;, score=0.841 total time=   0.2s
[CV 1/10] END .....................max_depth=21;, score=0.833 total time=   0.2s
[CV 2/10] END .....................max_depth=21;, score=0.831 total time=   0.2s
[CV 3/10] END .....................max_depth=21;, score=0.828 total time=   0.2s
[CV 4/10] END .....................max_depth=21;, score=0.835 total time=   0.2s
[CV 5/10] END .....................max_depth=21;, score=0.836 total time=   0.2s
[CV 6/10] END .....................max_depth=21;, score=0.829 total time=   0.2s
[CV 7/10] END .....................max_depth=21;, score=0.827 total time=   0.2s
[CV 8/10] END .....................max_depth=21;, score=0.827 total time=   0.2s
[CV 9/10] END .....................max_depth=21;, score=0.820 total time=   0.2s
[CV 10/10] END ....................max_depth=21;, score=0.835 total time=   0.2s
[CV 1/10] END .....................max_depth=23;, score=0.830 total time=   0.2s
[CV 2/10] END .....................max_depth=23;, score=0.823 total time=   0.2s
[CV 3/10] END .....................max_depth=23;, score=0.824 total time=   0.2s
[CV 4/10] END .....................max_depth=23;, score=0.829 total time=   0.2s
[CV 5/10] END .....................max_depth=23;, score=0.837 total time=   0.2s
[CV 6/10] END .....................max_depth=23;, score=0.823 total time=   0.2s
[CV 7/10] END .....................max_depth=23;, score=0.824 total time=   0.2s
[CV 8/10] END .....................max_depth=23;, score=0.826 total time=   0.2s
[CV 9/10] END .....................max_depth=23;, score=0.817 total time=   0.3s
[CV 10/10] END ....................max_depth=23;, score=0.832 total time=   0.2s
[CV 1/10] END .....................max_depth=25;, score=0.823 total time=   0.2s
[CV 2/10] END .....................max_depth=25;, score=0.823 total time=   0.2s
[CV 3/10] END .....................max_depth=25;, score=0.818 total time=   0.2s
[CV 4/10] END .....................max_depth=25;, score=0.828 total time=   0.2s
[CV 5/10] END .....................max_depth=25;, score=0.830 total time=   0.3s
[CV 6/10] END .....................max_depth=25;, score=0.822 total time=   0.3s
[CV 7/10] END .....................max_depth=25;, score=0.819 total time=   0.2s
[CV 8/10] END .....................max_depth=25;, score=0.817 total time=   0.3s
[CV 9/10] END .....................max_depth=25;, score=0.811 total time=   0.2s
[CV 10/10] END ....................max_depth=25;, score=0.821 total time=   0.2s
[CV 1/10] END .....................max_depth=27;, score=0.826 total time=   0.2s
[CV 2/10] END .....................max_depth=27;, score=0.824 total time=   0.3s
[CV 3/10] END .....................max_depth=27;, score=0.815 total time=   0.3s
[CV 4/10] END .....................max_depth=27;, score=0.828 total time=   0.2s
[CV 5/10] END .....................max_depth=27;, score=0.826 total time=   0.3s
[CV 6/10] END .....................max_depth=27;, score=0.814 total time=   0.2s
[CV 7/10] END .....................max_depth=27;, score=0.824 total time=   0.2s
[CV 8/10] END .....................max_depth=27;, score=0.814 total time=   0.2s
[CV 9/10] END .....................max_depth=27;, score=0.811 total time=   0.3s
[CV 10/10] END ....................max_depth=27;, score=0.821 total time=   0.3s
[CV 1/10] END .....................max_depth=29;, score=0.818 total time=   0.3s
[CV 2/10] END .....................max_depth=29;, score=0.821 total time=   0.3s
[CV 3/10] END .....................max_depth=29;, score=0.811 total time=   0.2s
[CV 4/10] END .....................max_depth=29;, score=0.829 total time=   0.2s
[CV 5/10] END .....................max_depth=29;, score=0.818 total time=   0.3s
[CV 6/10] END .....................max_depth=29;, score=0.820 total time=   0.3s
[CV 7/10] END .....................max_depth=29;, score=0.821 total time=   0.2s
[CV 8/10] END .....................max_depth=29;, score=0.817 total time=   0.2s
[CV 9/10] END .....................max_depth=29;, score=0.812 total time=   0.2s
[CV 10/10] END ....................max_depth=29;, score=0.824 total time=   0.2s
[CV 1/10] END .....................max_depth=31;, score=0.821 total time=   0.3s
[CV 2/10] END .....................max_depth=31;, score=0.816 total time=   0.3s
[CV 3/10] END .....................max_depth=31;, score=0.814 total time=   0.3s
[CV 4/10] END .....................max_depth=31;, score=0.824 total time=   0.3s
[CV 5/10] END .....................max_depth=31;, score=0.817 total time=   0.3s
[CV 6/10] END .....................max_depth=31;, score=0.816 total time=   0.2s
[CV 7/10] END .....................max_depth=31;, score=0.816 total time=   0.2s
[CV 8/10] END .....................max_depth=31;, score=0.815 total time=   0.3s
[CV 9/10] END .....................max_depth=31;, score=0.806 total time=   0.2s
[CV 10/10] END ....................max_depth=31;, score=0.821 total time=   0.2s
[CV 1/10] END .....................max_depth=33;, score=0.825 total time=   0.2s
[CV 2/10] END .....................max_depth=33;, score=0.819 total time=   0.3s
[CV 3/10] END .....................max_depth=33;, score=0.810 total time=   0.3s
[CV 4/10] END .....................max_depth=33;, score=0.824 total time=   0.3s
[CV 5/10] END .....................max_depth=33;, score=0.815 total time=   0.3s
[CV 6/10] END .....................max_depth=33;, score=0.810 total time=   0.2s
[CV 7/10] END .....................max_depth=33;, score=0.822 total time=   0.2s
[CV 8/10] END .....................max_depth=33;, score=0.809 total time=   0.3s
[CV 9/10] END .....................max_depth=33;, score=0.809 total time=   0.3s
[CV 10/10] END ....................max_depth=33;, score=0.819 total time=   0.2s
[CV 1/10] END .....................max_depth=35;, score=0.820 total time=   0.3s
[CV 2/10] END .....................max_depth=35;, score=0.819 total time=   0.2s
[CV 3/10] END .....................max_depth=35;, score=0.811 total time=   0.3s
[CV 4/10] END .....................max_depth=35;, score=0.826 total time=   0.3s
[CV 5/10] END .....................max_depth=35;, score=0.815 total time=   0.3s
[CV 6/10] END .....................max_depth=35;, score=0.813 total time=   0.3s
[CV 7/10] END .....................max_depth=35;, score=0.819 total time=   0.2s
[CV 8/10] END .....................max_depth=35;, score=0.809 total time=   0.3s
[CV 9/10] END .....................max_depth=35;, score=0.803 total time=   0.3s
[CV 10/10] END ....................max_depth=35;, score=0.817 total time=   0.2s
[CV 1/10] END .....................max_depth=37;, score=0.823 total time=   0.3s
[CV 2/10] END .....................max_depth=37;, score=0.817 total time=   0.3s
[CV 3/10] END .....................max_depth=37;, score=0.808 total time=   0.3s
[CV 4/10] END .....................max_depth=37;, score=0.825 total time=   0.3s
[CV 5/10] END .....................max_depth=37;, score=0.816 total time=   0.3s
[CV 6/10] END .....................max_depth=37;, score=0.805 total time=   0.3s
[CV 7/10] END .....................max_depth=37;, score=0.816 total time=   0.3s
[CV 8/10] END .....................max_depth=37;, score=0.808 total time=   0.3s
[CV 9/10] END .....................max_depth=37;, score=0.803 total time=   0.3s
[CV 10/10] END ....................max_depth=37;, score=0.823 total time=   0.2s
[CV 1/10] END .....................max_depth=39;, score=0.818 total time=   0.2s
[CV 2/10] END .....................max_depth=39;, score=0.818 total time=   0.3s
[CV 3/10] END .....................max_depth=39;, score=0.807 total time=   0.3s
[CV 4/10] END .....................max_depth=39;, score=0.825 total time=   0.3s
[CV 5/10] END .....................max_depth=39;, score=0.811 total time=   0.3s
[CV 6/10] END .....................max_depth=39;, score=0.809 total time=   0.3s
[CV 7/10] END .....................max_depth=39;, score=0.815 total time=   0.3s
[CV 8/10] END .....................max_depth=39;, score=0.811 total time=   0.3s
[CV 9/10] END .....................max_depth=39;, score=0.805 total time=   0.3s
[CV 10/10] END ....................max_depth=39;, score=0.819 total time=   0.2s

GridSearchCV(cv=10, estimator=DecisionTreeClassifier(random_state=1),
             param_grid={'max_depth': array([ 5,  7,  9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37,
       39])},
             scoring='accuracy', verbose=3)

Best params

In [18]:
grid_dt.best_params_

{'max_depth': 9}

Best score

In [19]:
grid_dt.best_score_

0.8553644553644553

Grab best dt model

In [20]:
best_dt = grid_dt.best_estimator_

Make predictions on training and validation sets

In [21]:
train_dt_preds = best_dt.predict(X_train)
valid_dt_preds = best_dt.predict(X_valid)

In [22]:
dt_performance = model_eval(y_train, y_valid, train_dt_preds, valid_dt_preds)
dt_performance

                 Training   Testing
Accuracy Score   0.866830  0.852966
Precision Score  0.836965  0.792786
Recall           0.555178  0.527041
F1 Score         0.667553  0.633160

The DT model has virtually the same accuracy score as KNN, but has a much better precision score and worse recall score.

Decision trees are better at minimizing the false positives (people classified as low income but not) while KNN is better at minimizing the false negatives (people classified as high income but not).

### Stacking

In this part we are going to combine our two KNN and DT models along with a logisic regression which will be our final estimator.

Collect models into list of tuple pairs.

In [23]:
models = [("knn", best_knn),
         ("dt", best_dt)]

Intialize stacking classifier

In [31]:
stack = StackingClassifier(estimators=models, final_estimator=LogisticRegression(random_state=1))

Fit model on training data

In [32]:
stack.fit(X_train, y_train)

StackingClassifier(estimators=[('knn', KNeighborsClassifier(n_neighbors=17)),
                               ('dt',
                                DecisionTreeClassifier(max_depth=9,
                                                       random_state=1))],
                   final_estimator=LogisticRegression(random_state=1))

Classify training and validation datasets

In [33]:
train_stack_preds = stack.predict(X_train)
valid_stack_preds = stack.predict(X_valid)

In [34]:
stack_performance = model_eval(y_train, y_valid, train_stack_preds, valid_stack_preds)
stack_performance

                 Training   Testing
Accuracy Score   0.876986  0.860459
Precision Score  0.804316  0.757500
Recall           0.646489  0.618367
F1 Score         0.716817  0.680899

Let's compare this with the knn and dt results.

In [35]:
knn_performance

                 Training   Testing
Accuracy Score   0.859951  0.846088
Precision Score  0.745854  0.705643
Recall           0.634756  0.618878
F1 Score         0.685835  0.659418

In [36]:
dt_performance

                 Training   Testing
Accuracy Score   0.866830  0.852966
Precision Score  0.836965  0.792786
Recall           0.555178  0.527041
F1 Score         0.667553  0.633160

The stacked model:

   - Showed improvement in the f1 scores.
   - Not much improvement over the two other accuracy scores.
   - Has virtually the same recall score as knn.
   - But has a worse precision score than dt

Save model

In [37]:
joblib.dump(stack, filename="../models/george_stack_model.joblib")

['../models/george_stack_model.joblib']

### Modeling Version 4 -- Winston